# Last match in file takes precedence.

# Ping for all PRs
* @JrInventor05Next

/Resources/Locale/** @ZARSv

/Resources/Textures/** @wolfeeee19

/Resources/Prototypes/Maps/** @KirDefuse
/Resources/Maps/** @KirDefuse
