[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/corus-station/RobustToolbox.git
	branch = 264.0.2-fix-physics
[submodule "RSI.NET"]
	path = RSI.NET
	url = https://github.com/space-wizards/RSI.NET.git
